
/*General CSS starts*/
* {
    box-sizing: border-box;
}

body {
 margin: 0px;   
 font-family: 'Lato', sans-serif;
 font-weight:300;
}

ul {
    list-style: none;
    padding: 0px;
}

a {
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

a:hover {
    background-color: blueviolet;
    border-radius: 10px;
    transition: ease-in-out .5s;
}

a:visited {
    color: rgb(212, 92, 92);
}

img {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    width: 95vw;
    height: auto;
    padding: 2rem;
}

p,
h1,
h2 {
    padding: .5rem;
    margin: .5rem;
    text-align: center;
    line-height: 1.5;
    opacity: 0.8;
}

p {
    font-size: 1.5rem;
}

.main-content {
    display: flex;
    flex-direction: column;
}

/*General CSS Ends*/

/*Navigation Bar Starts*/
.main-nav {
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: rgba(250, 244, 244, .8);
}

.nav-bar a {
    text-align: center;
    display: block;
    padding: 10px;
    margin: .5rem 1rem;
    color: rgb(66, 63, 63);
    background-color: white;
    border: 4px solid rgba(250, 244, 244, .8);
    border-radius: 8px;
}

.nav-bar a:hover {
    color: aqua;
    background-color: blueviolet;
    border-radius: 10px;
    transition: ease-in-out .5s;
}

.student-name {
    text-align: center;
}

#banner-image {
    width: 70vw;
    height: auto;
}

/*Navigation Bar Ends*/

/*Banner starts*/
.banner {
    background-color: rgba(250, 244, 244, .8);
    padding-bottom: 20px;
    margin-bottom: 50px;
}
/*Banner Ends*/
/*Footer Starts*/

.last-footer {
    display: flex;
    padding:2rem;
}

.name {
    margin-right: auto;
}

footer {
    background-color: rgba(250, 244, 244, .8);
    padding-top: 3rem;
}

.bottom-nav {
    display: none;
}

hr {
    opacity: 0.3;
}

.back-to-top,
.bottom-nav {
    margin-top: 15px;
}

/*Footer Ends*/

/*Media querries*/
@media screen and (min-width: 768px) {
    /*Navigation*/
    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .nav-bar a {
        background-color: rgba(250, 244, 244, .8);
        padding: 1rem;
        margin: .5rem 1rem;
    }

    /*Banner*/
    .banner {
        display: flex;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #banner-image {
        order:1;
        max-height: 250px;
    }

    .banner p {
        text-align: left;
        margin-top: 0;
        padding: 0;
    }

    .bottom-nav {
        display: inline-block;
        flex-direction: row;
    }

    .bottom-nav a {
        padding: 1rem;
    }

    .back-to-top {
        display: none;
    }
/*Main section*/

img {
    margin: 0 auto;
    max-width: 46vw;
    height: auto;
    padding: 0px;
}

#PORTFOLIO {
    margin-bottom: 30px;
}

.main-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 1rem;
    margin-right: 1rem;
    
  }
  .column-1,
  .column-2 {
    max-width: 46vw;
    padding: 0px;
    margin-bottom: 30px;

  }
}

@media screen and (min-width: 1024px) {
    /*Navigation*/
    .main-nav {
        display: flex;

    }
    .student-name {
        padding-left: 2rem;
        margin-right:auto;
    }  
    .nav-bar a {
        padding: 1rem 0.1rem;
        margin: .5rem 1rem 1rem 1rem;
    }
    .nav-bar {
        position: relative;
        right: 30px;
    }

    /*Main section*/
    img {
        margin: 0 auto;
        max-width: 30vw;
        width: 96vw;
        height: auto;
        padding: 0rem;
    }
    .column-1,
    .column-2 {
        max-width: 30vw;
    }

}
    
